.footer{
    background:  #252B42;
    width: 1777px;
    height: 567px;
    box-sizing: border-box;
}
.pages{
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Graphik';
    display: flex;
    width: 276px;
    height: 580px;
    padding: 60px 0px 60px 0px;
    margin: 40px 20px 40px 20px;
    background-color: var(--brand-color);
    align-items: center;
    flex-direction: column;

